<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Addition</title>
</head>
<body>
<style>
    body {
        background-color: azure;
    }

    p {
        color: black;
    }
</style>

<main class="container-fluid">
    <div class="row">
        <br>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <h3>Addition operation</h3>
            <p>The addition of two whole numbers results in the total amount or sum of those values combined.<br>
                This observation is equivalent to the mathematical expression "3 + 2 = 5" (that is, "3 plus 2 is equal to 5").</p>
            <form action="#" th:action="@{/index/addCalculator}" method="get">
            </form>
        </main>
        <div class="allClassesContainer" style="left: 100px">
            <label for="addition">Write 1 number:</label>
            <div class="form-group col-md-3">
                <input type="number" class=" form-control" id="input1" placeholder="Enter a number" th:if="*{x!=null}" th:text="*{x}">
                </div>
                        <p> + </p>
            <div class="form-group col-md-3">
                <label for="addition">Add an other number:</label>
                <input class=" form-control" id="input2" number placeholder="Enter a number" th:if="*{y!=null}" th:type="*{x}">
            </div>
            </div>
            <button mod autofocus>=</button>
                <input type="number" class="form-control" id="result1" th:if="*{result1!=null}" th:value="#{result1}">
            </div>
</main>
</body>

</html>